/* Footer
============================================================================================================================= */


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.7rem, 1.1vw, 1.1rem);

  height: 10vh;
  width: 100%;

  background-color: var(--header-color);
}



#conteudo {
  flex: 1;   /* Empurra footer para o fundo*/
}


/* ============================================================================================================================== */
/* ============================================================================================================================== */

@media (max-width: 685px) {
  


}